@media only screen and (max-width: 650px) {
    html{
        height: 100%;
        width: 100%;
    }

    main {
        height: auto;
    }
    
    body{
        display:flex;
        flex-direction: column;
        margin:0;
        padding:0;
        height:100%;
        width:100%;
        font-family: Arial, Helvetica, sans-serif;
    }

    #game{
        display:flex;
        flex-direction:column;
        flex:3.5;
        height: 800px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #form-inputs{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
    }

    .inputs {
        margin: 2px;
    }

    #color-Table{
        background-color: white;
        display:flex;
        flex-direction:column;
        text-align:center;
        width: 100%;
        /*height: 300px;*/
    }

    .rgbanswers{
        visibility:hidden;
        font-size: 5px;
    }
    .coloranswers{
        visibility:hidden;
        font-size: 5px;
    }

    #table-and-submit {
        display:flex;
        flex-direction:column;
        width: 100%;
        height: 500px;
    }

    .unselected {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .selected {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #score-Board {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    #score-table {
        width: 80%;

    }

    #clear {
        width: 80%;
    }
}